POSTGRES_PASSWORD=change-me
ETNA_APP_DB=etna_app
ETNA_APP_USER=etna_app
ETNA_APP_PASSWORD=change-me
NOCODB_META_DB=nocodb_meta
NOCODB_META_USER=nocodb
NOCODB_META_PASSWORD=change-me
NC_AUTH_JWT_SECRET=change-me
NC_CONNECTION_ENCRYPT_KEY=change-me
NC_ADMIN_EMAIL=admin@no-money-no-honey.ru
NC_ADMIN_PASSWORD=change-me
NC_SITE_URL=https://admin.no-money-no-honey.ru
SESSION_SECRET=change-me
PIN_PEPPER=change-me
OWNER_NAME=Руководитель
OWNER_PIN=1234
COOKIE_SECURE=true
PUBLIC_GRAFIK_URL=https://etna-35.github.io/grafik/
